---
import PageLayout from "@layouts/PageLayout.astro"
import TopLayout from "@layouts/TopLayout.astro"
import BottomLayout from "@layouts/BottomLayout.astro"
import Search from "@components/Search"
import { JsonFile } from "@lib/jsonFile"
import { SEARCH } from "@consts"

// import all json file from data/*.json
const projects = JsonFile.readJsonFile("data/projects.json")
const posts = JsonFile.readJsonFile("data/blog.json")


const data = [...posts, ...projects]
---

<PageLayout title={SEARCH.TITLE} description={SEARCH.DESCRIPTION}>
  <TopLayout>
    <div class="animate page-heading">
      {SEARCH.TITLE}
    </div>
  </TopLayout>
  <BottomLayout>
    <div class="animate">
      <Search client:load data={data}/>
    </div>
  </BottomLayout>
</PageLayout>